.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-header {
  background-color: #222;
  height: 125px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

#App-body {
  font-family: Helvetica, sans-serif;
  width: 300px;
  text-align: center;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 3px 0;
  font-size: 20px;
  border-radius: 25px;
}

#button-label {
  color: #696969;
}

.fa-rotate-135 {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#log {
  background-color: #ddd;
  padding: 20px 10px;
  font-size: 12px;
  color: #696969;
}

.top-buffer { margin-top:20px; }
.top-buffer-small { margin-top:5px; }
.top-buffer-medium { margin-top:10px; }

#contacts {
  background-color: #ddd;
  text-align: left;
}

#contacts-table {
    cursor: pointer;
    background-color: white;
}
