certifi==2017.7.27.1
chardet==3.0.4
dj-database-url==0.4.2
Django==1.11.29
djangorestframework==3.7.3
Faker==0.8.4
gunicorn==19.7.1
honcho==1.0.1
idna==2.6
psycopg2==2.7.3.1
PyJWT==1.5.3
PySocks==1.6.7
python-dateutil==2.6.1
pytz==2017.2
requests==2.18.4
six==1.11.0
twilio==6.6.3
urllib3==1.22
whitenoise==3.3.1
